<div style="text-align: center;margin-top: 15vw;">
    <h1 class="text-7xl">Coming Soon</h1>
    <!-- <p style="
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 400;
">no eta</p> -->
</div>