<!-- Small Modal -->
<div id="small-modal" tabindex="-1" class="my-auto items-center flex-col flex hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between my-auto items-center p-3 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Add Item
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="small-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <!-- Modal body -->
            <div class="w-full max-w-xs px-5 py-2">
                <div class="py-2">
                    <label class="text-gray-700 text-sm font-bold mb-2" for="username">
                      Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="pepetrophy">
                  </div>
                  <div class="py-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                      Amount
                    </label>
                    <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="number" type="number" placeholder="50e6">
                  </div>
                  <div class="py-2">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                      Aliases
                    </label>
                    <div x-data="{tags: [], newTag: '', inputName: 'foo' }" class="text-gray-700 border-1 rounded-lg shadow">
                      <template x-for="tag in tags">
                        <input type="hidden" x-bind:name="inputName + '[]'" x-bind:value="tag" class="">
                      </template>
                  
                      <div class="max-w-sm w-full mx-auto p-2">
                          <div class="tags-input">
                              <template x-for="tag in tags" :key="tag">
                                  <span class="tags-input-tag border-1 rounded-lg bg-blue-300 p-1">
                                      <span class="text-3" x-text="tag"></span>
                                      <button type="button" class="tags-input-remove" @click="tags = tags.filter(i => i !== tag)">
                                          &times;
                                      </button>
                                  </span>
                              </template>
                              
                              <input class="tags-input-text" placeholder="Add aliases..."
                                  @keydown.enter.prevent="if (newTag.trim() !== '') tags.push(newTag.trim()); newTag = ''"
                                  x-model="newTag"
                              >
                          </div>
                      </div>
                  </div>
                  </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button data-modal-toggle="small-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add</button>
                <button data-modal-toggle="small-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
            </div>
        </div>
    </div>
</div>
