<footer class="col site-footer">
    <!-- <div class=""></div> -->
    <div class="container px-3 pt-4">
        <div class="row g-0">
            <div class="col-lg-5 mt-3">
                <p class="heading mb-1">DEF BOT</p>
                <p class="m-1 text-muted ms-0">Def bot makes it easier</p>
                <a class="footer-icon-link" href="https://discord.gg/ZksC3Dceet"><i class="fab fa-discord me-2"></i></a>
                <a class="footer-icon-link" href="https://www.patreon.com/join/notabC"><i class="fab fa-patreon"></i></a>
            </div>
            <div class="col-lg-2 mt-3">
                <p class="heading">PRODUCT</p>
                <a href="https://discord.com/api/oauth2/authorize?client_id=783306479721512960&permissions=8&redirect_uri=http%3A%2F%2Fwww.defbot.xyz%2Flogin&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands" class="footer-link">Invite</a>
                <a href="https://www.patreon.com/join/notabC" class="footer-link">Premium</a>
            </div>
            <div class="col-lg-2 mt-3">
                <p class="heading">RESOURCES</p>
                <a href="/dashboard" class="footer-link">Dashboard</a>
                <a href="/commands" class="footer-link">Commands</a>
                <a href="/appeal" class="footer-link">Appeal</a>
                <a href="https://discord.gg/ZksC3Dceet" class="footer-link">Support Server</a>
            </div>
            <div class="col-lg-2 mt-3">
                <p class="heading">THEME</p>
                <button class="btn" id="theme-change"><i class="fas fa-sun"></i></button>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-12 mt-4 pt-3 border-top border-dark d-flex justify-content-between">
                <p class="text-muted mb-">&copy; 2021 TheDefBot</p>
            </div>
        </div>
    </div>
    <!-- </div> -->
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/js/main.js"></script>