<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container py-2">
        <button class="p-1 mr-4 border-1 " @click="sidebarOpen = !sidebarOpen">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <!-- <button  @click="sidebarOpen = !sidebarOpen" class="" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="28" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
                <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
            </svg>
        </button> -->
        
        <a x-show="sidebarOpen == false" class="navbar-brand me-4" href="/">
            <p class="logo mb-0">DEF BOT</p>
        </a>

        <button x-show="sidebarOpen == false" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div x-show="sidebarOpen == false" class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="menu-item rounded m-1">
                    <a class="menu-link" href="/commands">Commands</a>
                </li>
                <li class="menu-item rounded m-1">
                    <a class="menu-link" href="https://discord.gg/ZksC3Dceet">Support Server</a>
                </li>
                <!-- <li class="menu-item rounded m-1">
                    <a class="menu-link" href="https://www.patreon.com/join/notabC">Patreon</a>
                </li>
                <li class="menu-item rounded m-1">
                    <a class="menu-link" href="/dashboard">Dashboard</a>
                </li> -->
                <li class="dropdown menu-item rounded m-1">
                        <a id="menu-link" class="dropdown-toggle menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                            <p id="user-menu-text">Others</p>
                        </a>
                        <ul class="dropdown-menu shadow" id="user-menu-dropdown">
                            <li><a class="dropdown-item theme-text" href="/appeal">Appeal</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item theme-text" href="invite">Invite Bot</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item theme-text" href="/heists">View Heists</a></li>
                        </ul>
                </li>
            </ul>
            <div>
                <% if(user) { %>
                    <div class="dropdown">
                        <a id="user-menu-link" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img id="user-menu"
                                src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>"
                                alt="">
                            <p id="user-menu-text"><%= user.username %></p>
                        </a>
                        <ul class="dropdown-menu shadow" id="user-menu-dropdown">
                            <li><a class="dropdown-item theme-text" href="/dashboard">My servers</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="/logout"><i class="fas fa-sign-out-alt me-1"></i> Logout</a></li>
                        </ul>
                    </div>
                <% } else { %>
                    <button onClick="location.href = '/login'" class="btn btn-primary hover text-white shadow-sm">Login</button>
                <% } %>
            </div>
        </div>
    </div>
</nav>